<% if @product.errors.any? %>
  <div id="error_explanation">
    <div class="alert-box radius alert">
    <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved
    </div>
  </div>

  <div id="error_explanation">
    <div class="alert-box radius alert">
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>